button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  background: #eee;
  border: 0.1em solid #eee;

  text-decoration: inherit;
  color: inherit;
  border-radius: 0.3em;

  &:disabled {
    color: #aaa;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: #ddd;
      border-color: #ddd;
    }
    &:active {
      background: #ccc;
      border-color: #ccc;
    }

    &.primary {
      background: #333;
      border-color: #333;
      color: #eee;

      &:hover {
        background: #444;
        border-color: #444;
      }
      &:active {
        background: #555;
        border-color: #555;
      }
    }
  }

  padding: 0.5em 1em;
}
